.active-nav-top-border {
  height: 3px;
  width: 20%;
  opacity: 0;
  position: absolute;
  top: -1px;
  background-color: transparent;
  z-index: 1;
  transition: left .4s ease;
}

.inner-active-nav-top-border {
  box-sizing: border-box;
  display: block;
}

.inner-active-nav-top-border {
  content: "";
  display: block;
  height: 100%;
  width: 70px;
  margin: 0 auto;
}

.home-selected {
    opacity: 1;
    left: 1%;
}

.users-selected {
    opacity: 1;
    left: 21%;
}

.help-selected {
    opacity: 1;
    left: 41%;
}

.requests-selected {
    opacity: 1;
    left: -19.5%;
}

.messages-selected {
    opacity: 1;
    left: -41%;
}