
:root {
  --app-default-text-color: #4D4D4D;
  --sidebar-width: 230px;
  --item-hover-color: #F6F6F6;

  --app-default-transition-speed: 0.15s
}

// will be used in antd layout.
@font-face {
  font-family: 'IRAN-sans';
  src: local("IRAN-sans"),
  url('../public/fonts/IRANSansWeb.woff2') format('woff2'),
  url('../public/fonts/IRANSansWeb.woff') format('woff'),
  url('../public/fonts/IRANSansWeb_Bold.ttf') format('truetype'),
  url('../public/fonts/IRANSansWeb_2.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

#root {
  width: 100%;
  height: 100vh;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  direction: rtl;
}

::-webkit-scrollbar {
  display: none;
}